In [1]:
print(100+200)

300

a=100
b=200
아무것도 안나옴

In [2]:
a=100
b=200
c=a+b
print(c)

300

In [3]:
print(a,"+",b,"=",c)

100 + 200 = 300

In [6]:
num1 = 100
num2 = 50
result = num1 + num2
print(result)

150

In [7]:
result = num1 + 200
print(result)

300

In [8]:
100 = num1 + num2

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (2971251295.py, line 1)

In [9]:
num1 + num2 = result

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (127935677.py, line 1)

In [7]:
num3 = 100
num4 = 50
result = num3 - num4
print(num3,"-",num4,"=",result)

100 - 50 = 50

In [8]:
result = num3 * num4
print(num3,"x",num4,"=",result)

100 x 50 = 5000

In [9]:
result = num3 / num4 
print(num3,"➗",num4,"=",result)

100 ➗ 50 = 2.0

In [11]:
str1 = "난생처음"
str2 = "파이썬"
result = str1 + str2
print(result)

난생처음파이썬

In [12]:
result = str1 - str2

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [13]:
num1 = 100
num2 = 200


reselt = num1 + num2
reselt1 = num1 - num2
reselt2 = num1 * num2
reselt3 = num1 / num2

print(num1,"+",num2,"=", reselt)
print(num1,"-",num2,"=", reselt1)
print(num1,"*",num2,"=", reselt2)
print(num1,"/",num2,"=", reselt3)

100 + 200 = 300
100 - 200 = -100
100 * 200 = 20000
100 / 200 = 0.5

333=100
숫자로만 변수생성시 오류발생
3abcd=200
숫자로 시작시에도 오류발생

input_number = 100
_number = 200
_data_=300
_ _mt_ _= 400
_1234
변수명에는 언더바(_)사용불가

mynumber = 100
MYNUMBER = 200
변수명은 대소문자를 구별합니다

if = 100 X
변수명에 예약어를 사용할 수 없다
예약어는 이미 파이썬 문법에 정의되어 사용되는 단어를 의미합니다
if,elif,else문이 예약어입니다

좋은 변수명은
a = 100
bbb = 200
asdf = 300
AA = 400
변수의 이름은 변수명만 보고도 변수의 의미를 파익할수 있는것이 좋은 변수명입니다
그렇다고
first_number_of_input_values = 100
second_number_of_input_values = 200
변수명이 파악되더라도 너무 길면 코드를 입력하기 불편할수 있습니다

In [14]:
input()

 100

'100'

In [15]:
num1 = input()

 100

In [16]:
num2 = input("숫자==>")

숫자==> 200

reselt1 = num1 + num2
아무것도 출력되지 않음

In [22]:
reselt1 = num1 + num2qq
print(reselt1)

100200

In [23]:
int("100")

100

In [24]:
int(100.12)

100

In [28]:
num1 = int(input("숫자1==>"))
num2 = int(input("숫자2==>"))
result = num1 + num2
print(result)

숫자1==> 100
숫자2==> 200

300

In [29]:
username = input("이름 ==>")
userphon = input("전화번호 ==>")
print("제 이름은",username,"이고","연락처는",userphon,"입니다")

이름 ==> 심재훈
전화번호 ==> 010-1234-1234

제 이름은 심재훈 이고 연락처는 010-1234-1234 입니다

In [32]:
print("##택배를 보내기 위한 정보를 입력하세요")
personname = input("받는사람 :")
personaddr = input("주소 :")
weight = int(input("무게(g) :"))
print("**받는 사람 ==>", personname)
print("**주소 =>",personaddr)
print("** 배송비 ==>",weight*5,"원")

##택배를 보내기 위한 정보를 입력하세요

받는사람 : 심제훈
주소 : 경기도 안양시 만안구
무게(g) : 599

**받는 사람 ==> 심제훈
**주소 => 경기도 안양시 만안구
** 배송비 ==> 2995 원

In [33]:
num1 = int(input("첫 번째 숫자를 입력하세요: "))
num2 = int(input("두 번째 숫자를 입력하세요: "))


reselt = num1 + num2
reselt1 = num1 - num2
reselt2 = num1 * num2
reselt3 = num1 / num2
reselt4 = num1 % num2
reselt5 = num1 // num2

print(num1 ,"+" ,num2 ,"=", reselt)
print(num1 ,"-" ,num2 ,"=", reselt1)
print(num1 ,"*" ,num2 ,"=", reselt2)
print(num1 ,"/"  ,num2,"=", reselt3)
print(num1 ,"%"  ,num2,"=", reselt4)
print(num1 ,"//" ,num2,"=", reselt5)

첫 번째 숫자를 입력하세요:  300
두 번째 숫자를 입력하세요:  500

300 + 500 = 800
300 - 500 = -200
300 * 500 = 150000
300 / 500 = 0.6
300 % 500 = 300
300 // 500 = 0