+는 더하기
-는 빼기
*는 곱하기
/는 나누기
//는 나누기(몫)
%는 나누기(나머지 값)
**는 제곱

In [1]:
n1 = 200
n2 = 150
res = n1+n2
print(res)

350

In [2]:
res = n1 - n2
print(res)

50

In [3]:
res = n1 * n2
print(res)

30000

In [4]:
res = n1 / n2
print(res)

1.3333333333333333

In [5]:
a,b,c =3,4,5
print(a+b-c)

2

In [6]:
print(a-c+b)

2

In [7]:
print(-c+a+b)

2

더하기와 빼기는 순서를 바꿔도 동일한 결과값을 출력
더하기와 빼기가 나오면 계산 순서는 앞에서 뒤로 계산

In [8]:
a,b,c = 2,4,6
print(a/b*c)

3.0

In [9]:
print(a*c/b)

3.0

In [10]:
print(c/b*a)

3.0

곱하기와 나누기는 순서를 바꿔도 동일한 결과값을 출력 곱하기와 나누기가 나오면 계산 순서는 앞에서 뒤로 계산

In [12]:
a,b,c = 3,4,5
print(a*b+c)

17

In [16]:
print(c+a*b)

17

더하기와 곱하기가 같이 나왔을 경우
a,b,c = 3,4,5
print(a*b+c)
첫번째 수식은 순서대로 계산하여 잘 계산되었지만
print(c+a*b)
두번쨰 수식은 32가 나와야 하지만 둘다 똑같은 17이 출력됨
그 이유는 더하기와 곱하기가 같이나오면 곱하기가 먼저 계산 된후 더하기가 계산 되기 때문
그래서 두번째 수식 같은 경우 계산 순서가 왼쪽에서 오른쪽이 오른쪽에서 왼쪽으로 계산이 진행

In [17]:
q = 5//3
r = 5%3
print(q,r)

1 2

In [18]:
num = 5**3
print(num)

125

In [ ]:
num1 = int(input("나눠지는 수==>"))
num2 = int(input("나누는 수==>"))
q = num1 //num2
r = num1 % num2
print(num1,'을()를',num2 ,'(으)로 나눈 몫은',q,'입니다')
print(num1,'을()를',num2, '(으)로 나눈 나머지는',r,'입니다')

In [27]:
ponud = int(input("파운드(1b)를 입력하세요 : "))
kg = ponud * 0.453592
print(ponud,"파운드(1b)는",kg,"킬로그램(kb)입니다")

파운드(1b)를 입력하세요 :  15

15 파운드(1b)는 6.8038799999999995 킬로그램(kb)입니다

In [26]:
kg = int(input("킬로그램(kg)를 입력하세요 : "))
ponud = kg * 2.204623
print(kg,"킬로그램(kg)는",ponud,"파운드(1b)입니다")

킬로그램(kg)를 입력하세요 :  15

15 킬로그램(kg)는 33.069345000000006 파운드(1b)입니다

num = 100
num = 100 * 200
num = int("100") + int("200")
대입 연산자는 오른쪽 값이나 계산 결과를 왼쪽으로 대입 하라는 의미로 '='얀산자가 기지 기본 적인 대입 연산자이다.
위의 코드는 모두 똑같은 결과 값이 나온느 코드들이다.
대입 연산자는 무조건 오른쪽이 먼저 계산되고 결과1개 가 왼쪽으로 들어간다.
여기서 =를 기준으로 오른쪽은 숫자 , 수식, 문자열,계산식 등 문법이 틀리지 않았다면 무엇이든 와도 실행 가능
하지만 왼쪽은 무조건 변수 1개만 와야한다 그래야지만 오른쪽의 결과가 왼쪽에 들어 갈수 있다.

num1,num2 = 100,200
num1,num2 = 100*200,100+200
num1,num2 = int("100"),100//5

,(콤마)로 분리하여 왼쪽에 변수2개 이상이 나올수도 있습니다. 그런 경우 오른쪽에도 반드시 콤마로 분리된 2개의 숫자,문자열,수식이 와야한다
이것을 연속 대입 연산자라고 한다
연속 대입 연산자는 2개뿐이 아니라 3개이상도 가능하다

num1,num2,num3 = 100,200
num1,num2 = 100
num1 = 100,200
이코드들은 특수한 경우들도 비정상적인 대입인 경우이다
하지만 3번째 코드는 실해해도 오류가 나지 않는다 그이유는 튜플로 변환하여 들어가기 떄문입니다

In [28]:
num1 = 100
num1 = num1 + 200
print(num1)

300

위의 코드의 경우는 자신과 값을 계산한 후 다시 자신에게 대입시킨 경우이다
순서는 오른쪽이 먼저 계산이 된 후 결과 200이 왼쪽에 들어간다
왼쪽에 들어가는 변수가 자신이기 떄문에 결국 100 + 200이 되어 결과는 300이 된다

In [29]:
num1 = 100
num1 += 200
print(num1)

300

복합 대입 연산자는 += , -= , *= , /= , //= , **= , %=등이 있다.
+=는 num = num + 3과 동일
-=는 num = num - 3과 동일
*=는 num = num * 3과 동일
/=는 num = num / 3과 동일
//=는 num = num // 3과 동일
**=는 num = num ** 3과 동일
%=는 num = num % 3과 동일

In [31]:
num = 20
num += 3; print(num)

num -= 3; print(num)

num *= 3; print(num)

num /= 3; print(num)

num //= 3; print(num)

num **= 3; print(num)

num %= 3; print(num)

23
20
60
20.0
6.0
216.0
0.0

In [33]:
total = 0
total -= 900 * 10
total -= 3500 * 5
total += 1800 * 2
total += 4000 * 4
total += 1500
total += 2000 * 4
total += 1800 * 5
print("오늘 총 매출액은 :",total,"원 입니다")

오늘 총 매출액은 : 11600 원 입니다

비교 연산자(관계연산자)는 어떤것이 큰지,직은지,같은지를 비교하는것으로 그결과는 참(true)이나 거짓(false)이 사용한다
비교 연산자를 단독으로 사용하는 경우는 거의 없으며 조건문이나 반복문과 함꼐 사용한다
비교 연산자의 결과는 yes 또는 참(true)과 no 또는 거짓(false)로 표시 됨
((ex
  100<200을 예로 들면 100아 200보다 적기 떄문에 보기의 결과는 참(true)가 된다
  반대로 예를 든다면 100은 200보다 크지 않기 때문에 보기의 결과는 거짓(false)

In [36]:
score = int(input("필기 시험 점수를 입력하세요 ==>"))
print(score >= 70)

필기 시험 점수를 입력하세요 ==> 80

True

비교 연산자(관계연산자)는 ==,!=,<,>,<=,>=등이 있다
'=='는 두깂아 동일 하면 true (같다)
'!='는 두값이 다르면 true (같지 않다)
'<'는 왼쪽이 크면 true (크다)
'>'는 오른쪽이 크면 true (작다)
'<='는 왼쪽이 같거나 크면 true (크거나 같다)
'>='는 왼쪽이 작거나 같으면 true (작거나 같다)

In [37]:
n1 = 100 
n2 = 200
print(n1 == n2 , n1 != n2)
print(n1 > n2 , n1 < n2)
print(n1 >= n2 , n1 <= n1)

False True
False True
False True

논리 연산자란 비교 연산자가 여러번 필요할때 사용된다. 종류로는 AND(그리고) , OR(또는) , NOT(부정) 3가지가 있습니다. num변수의 값이 10과20 사이에 있어야 한다고 예을 들면 
num은 10 보다 커야 한다 or num은 20보다 작아야 한다는 두 조건을 만족 해야 한다. 위의 조건에서 중요한 점은 "그리고" 입니다 num이 10 과 20 사이에 있으려면 두 조건에 모두 만족해야 하기에 num은 10 보다 커야 한다도 참(true)여야 하고 num은 20 보다 작아야 한다도 참(true)여야 한다 이를 코드로 표현 하면 (num > 10) and (num < 20)으로 나타 낼수 있다.

AND은 둘다 참이여야만 참(true)
OR은 둘중 하나만 참이여도 참(true)
NOT은 참(true)이면 거짓(false)이고 거짓(false)이면 참(true)

In [4]:
num = 99 
(num > 100) and (num < 200)

False

In [2]:
(num == 99) or (num == 100)

True

In [3]:
not(num == 100)

True

위 3개의 코드의 해석은 
(num > 100) and (num < 200) : num이 100 과 200 사이에 있는지를 묻고 있다 즉 num이 100보다 크고 그리고 200보다 작은가?를 묻는 코드이다 
                            하지만 num은 99이기 때문에 (num > 100)(거짓) , (num < 200)(참)이 된다 and는 2개의 조건이 모두 만족 되어야 하기에 이코드는 거짓이다

(num == 99) or (num == 100) : num은 99여도 괜찮고 100이여도 된다. 즉 둘중에 하나의 조건만 만족해도 참이 된다 (num == 99)(참) , (num == 100)(거짓)이 되기 떄문에 이
                                코드는 참이다

not(num == 100) : 이코드는 부정문이기 때문에 거짓이면 참이된다는 특징이 있다 코드에서 num은 99로 (num == 100)은 거짓이 되지만 부정문이기 때문에 참이 된다

연산자의 우선 순위는 
() , [] , {}등의 괄호,리스트,딕셔너리,세트 등이 1번째 이고 
** 제곱이 2번쨰
+ , - , ~ 단항 연산자가 3번째(단항 연산자의 + , - 는 숫자나 변수 앞에 붙는 부호의 의미를 갖는다)
* , / , % , // 등의 산술 연산자가 4번쨰
+ , - 의 단순 산술 연산자가 5번쨰
<< , >>의 비트 시프트 연산자가 6번째
& 는 비트 논리곱으로 7번쨰이고
^ 는 비트 베타적 논리합으로 8번쨰
| 는 비트 논리합으로 9번쨰
< , > , >= , <= 은 관계 연산자로 10번쨰
== , !=는 동등 연산자로 11번쨰
= , %= , /= , //= , -= , += , *= , **= 등의 대입 연산자가 12번째
not 부정문이 논리 연산자에서 1번쨰 전체 순서로는 13번쨰
and 논리 연산자에서는 2번째 전체에서는 14번쨰
or 논이 연산문에서 3번째 전체에서 15번쨰
if ~ else 비교식으로 16번째이다

In [5]:
python = 3
mobile = 2
excel = 1

A = 4.5
A0 = 4.0
B = 3.5

avg = ((python * B) + (mobile * A0) + (excel * A)) / (python + mobile + excel)
print("평균 학점 : ",avg)

평균 학점 :  3.8333333333333335